# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
mapdata

tools/gen_distance_table/Makefile.in
tools/gen_distance_table/end_lng_table.txt
tools/gen_distance_table/lat_table.txt
tools/gen_distance_table/start_lng_table.txt
tools/gen_distance_table/aclocal.m4
tools/gen_distance_table/autom4te.cache/
tools/gen_distance_table/autoscan.log
tools/gen_distance_table/compile
tools/gen_distance_table/config.log
tools/gen_distance_table/config.status
tools/gen_distance_table/depcomp
tools/gen_distance_table/gen_distance_table
tools/gen_distance_table/install-sh
tools/gen_distance_table/missing
tools/gen_grid/.deps/
tools/gen_grid/Makefile
tools/gen_grid/Makefile.in
tools/gen_grid/aclocal.m4
tools/gen_grid/autom4te.cache/
tools/gen_grid/autoscan.log
tools/gen_grid/compile
tools/gen_grid/config.log
tools/gen_grid/config.status
tools/gen_grid/configure
tools/gen_grid/configure.scan
tools/gen_grid/depcomp
tools/gen_grid/diff
tools/gen_grid/gen_grid
tools/gen_grid/install-sh
tools/gen_grid/missing
