# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
mapdata

*Makefile.in
*aclocal.m4
*autom4te.cache/
*autoscan.log
*compile
*config.log
*config.status
*depcomp
*install-sh
*missing
*.deps
*Makefile
*aclocal.m4
*configure
*configure.scan
*diff
tools/gen_distance_table/gen_distance_table
*gen_grid
